# Dependency directories
node_modules/

# Production build files
dist/

# Logs
*.log

# TypeScript source files
*.ts
*.tsx

## JavaScript build files
*.js

# Testing frameworks
.jest/
.nyc_output/
coverage/

# Version control systems
.git/
.gitignore

# Configuration files
.npmignore

# Documentation
README.md