# Dependency directories
node_modules/

# Logs
*.log

# TypeScript source files
*.ts
*.tsx

# Testing frameworks
.jest/
.nyc_output/
coverage/

# Version control systems
.git/
.gitignore

# Configuration files
.npmignore

# Documentation
README.md